<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cha@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,216}</string>
                <key>textureRect</key>
                <string>{{754,504},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,216}</string>
                <key>textureRect</key>
                <string>{{538,504},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{695,204},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{556,204},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,161}</string>
                <key>spriteSourceSize</key>
                <string>{161,161}</string>
                <key>textureRect</key>
                <string>{{373,343},{161,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chit@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,216}</string>
                <key>textureRect</key>
                <string>{{322,504},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{417,204},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{0,204},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,161}</string>
                <key>spriteSourceSize</key>
                <string>{161,161}</string>
                <key>textureRect</key>
                <string>{{534,343},{161,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,155}</string>
                <key>spriteSourceSize</key>
                <string>{373,155}</string>
                <key>textureRect</key>
                <string>{{0,343},{373,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,119}</string>
                <key>spriteSourceSize</key>
                <string>{274,119}</string>
                <key>textureRect</key>
                <string>{{0,65},{274,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gxcc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{139,204},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gxcc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{278,204},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gxcc3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,161}</string>
                <key>spriteSourceSize</key>
                <string>{161,161}</string>
                <key>textureRect</key>
                <string>{{161,504},{161,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gxct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,139}</string>
                <key>spriteSourceSize</key>
                <string>{141,139}</string>
                <key>textureRect</key>
                <string>{{830,65},{141,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gxct2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,139}</string>
                <key>spriteSourceSize</key>
                <string>{141,139}</string>
                <key>textureRect</key>
                <string>{{834,204},{141,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gxct3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,161}</string>
                <key>spriteSourceSize</key>
                <string>{161,161}</string>
                <key>textureRect</key>
                <string>{{0,504},{161,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>peng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,161}</string>
                <key>spriteSourceSize</key>
                <string>{161,161}</string>
                <key>textureRect</key>
                <string>{{695,343},{161,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>peng1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{691,65},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>peng2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{552,65},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ting1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{274,65},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ting2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{413,65},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ting3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,161}</string>
                <key>spriteSourceSize</key>
                <string>{161,161}</string>
                <key>textureRect</key>
                <string>{{856,343},{161,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylg_fzgame_sezi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{260,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylg_fzgame_sezi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{195,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylg_fzgame_sezi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{325,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylg_fzgame_sezi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{130,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylg_fzgame_sezi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{390,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylg_fzgame_sezi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylg_fzgame_sezi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{65,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylg_fzgame_sezi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{520,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylg_fzgame_sezi_result_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{780,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylg_fzgame_sezi_result_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{845,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylg_fzgame_sezi_result_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{455,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylg_fzgame_sezi_result_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{715,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylg_fzgame_sezi_result_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{650,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ylg_fzgame_sezi_result_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{585,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ani.png</string>
            <key>size</key>
            <string>{1017,720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a66eeb232f17f23d9aef9faa97c2fdd8:1f775b8a4688efee2511a25d32d9e3b0:d4cc330d69aeb67ddc695a37b989462a$</string>
            <key>textureFileName</key>
            <string>Ani.png</string>
        </dict>
    </dict>
</plist>
