<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,139}</string>
                <key>spriteSourceSize</key>
                <string>{306,139}</string>
                <key>textureRect</key>
                <string>{{301,138},{306,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gangshanghua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,150}</string>
                <key>spriteSourceSize</key>
                <string>{392,150}</string>
                <key>textureRect</key>
                <string>{{607,138},{392,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,138}</string>
                <key>spriteSourceSize</key>
                <string>{245,138}</string>
                <key>textureRect</key>
                <string>{{443,0},{245,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loubao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,139}</string>
                <key>spriteSourceSize</key>
                <string>{301,139}</string>
                <key>textureRect</key>
                <string>{{0,138},{301,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinghu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,131}</string>
                <key>spriteSourceSize</key>
                <string>{230,131}</string>
                <key>textureRect</key>
                <string>{{213,0},{230,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sihui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,135}</string>
                <key>spriteSourceSize</key>
                <string>{300,135}</string>
                <key>textureRect</key>
                <string>{{688,0},{300,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zimo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,133}</string>
                <key>spriteSourceSize</key>
                <string>{213,133}</string>
                <key>textureRect</key>
                <string>{{0,0},{213,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hutype.png</string>
            <key>size</key>
            <string>{999,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d86c4ac213302e966a77b364a470ca66:a0ca63173c6f22361bf439584c956b97:634a1b2b821266006ea6276037345b23$</string>
            <key>textureFileName</key>
            <string>hutype.png</string>
        </dict>
    </dict>
</plist>
