<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_lpmj_db_txk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,110},{108,114}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{108,114}}</string>
                <key>sourceSize</key>
                <string>{108,150}</string>
            </dict>
            <key>eff_lpmj_db_txk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,110},{106,114}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{106,114}}</string>
                <key>sourceSize</key>
                <string>{108,150}</string>
            </dict>
            <key>eff_lpmj_db_txk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{108,136}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{108,136}}</string>
                <key>sourceSize</key>
                <string>{108,150}</string>
            </dict>
            <key>eff_lpmj_db_txk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{106,144}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{106,144}}</string>
                <key>sourceSize</key>
                <string>{108,150}</string>
            </dict>
            <key>eff_lpmj_db_txk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{106,142}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{106,142}}</string>
                <key>sourceSize</key>
                <string>{108,150}</string>
            </dict>
            <key>eff_lpmj_db_txk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{106,144}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{106,144}}</string>
                <key>sourceSize</key>
                <string>{108,150}</string>
            </dict>
            <key>eff_lpmj_db_txk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,148}}</string>
                <key>sourceSize</key>
                <string>{108,150}</string>
            </dict>
            <key>eff_lpmj_db_txk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,144}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{106,144}}</string>
                <key>sourceSize</key>
                <string>{108,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lpmj_ani_da_liuguang.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d294e85d31178856a77d406fe7dd9ab6$</string>
            <key>textureFileName</key>
            <string>lpmj_ani_da_liuguang.png</string>
        </dict>
    </dict>
</plist>
