<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{22,0},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{49,0},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laba_jy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,29}</string>
                <key>spriteSourceSize</key>
                <string>{30,29}</string>
                <key>textureRect</key>
                <string>{{76,0},{30,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_voice_receiver_playing_1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{0,29},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_voice_receiver_playing_2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{40,29},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_voice_receiver_playing_3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{80,29},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinjie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,7}</string>
                <key>spriteSourceSize</key>
                <string>{25,7}</string>
                <key>textureRect</key>
                <string>{{0,69},{25,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinjie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,21}</string>
                <key>spriteSourceSize</key>
                <string>{31,21}</string>
                <key>textureRect</key>
                <string>{{25,69},{31,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinjie3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{56,69},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinjie4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{0,106},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinjie5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,67}</string>
                <key>spriteSourceSize</key>
                <string>{46,67}</string>
                <key>textureRect</key>
                <string>{{42,106},{46,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yinjie6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,82}</string>
                <key>spriteSourceSize</key>
                <string>{51,82}</string>
                <key>textureRect</key>
                <string>{{0,173},{51,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuyin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,132}</string>
                <key>spriteSourceSize</key>
                <string>{67,132}</string>
                <key>textureRect</key>
                <string>{{51,173},{67,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yuyinAni.png</string>
            <key>size</key>
            <string>{120,305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f08c5512a934311968cf29e2ff9288e:fcb5a127b6bb95fb12787a371dc2396a:44a1ba2bfb3f4f0124d062d41bb0526c$</string>
            <key>textureFileName</key>
            <string>yuyinAni.png</string>
        </dict>
    </dict>
</plist>
